/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #62626b;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;


}



/* Container */
.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 200px;
}

/* Buttons */
#new-rec {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.5em;
}

#new-rec:hover {
    background-color: #0056b3;
}

/* Recommendation Section */
#recommendation {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Spotify Player */
#spotify-player {
    margin: 20px 0;
}

/* Map */
#map {
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}